html{
    background: blueviolet;
}
body, html {
    height: 100%;
    display: grid;
}
.playButton{
    font-size: 30px;
    border-radius: 10px;
    padding: 3px 20px 0px 25px;
    background-color: rgb(223, 4, 4);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin:auto;
}

.choice{
    font-size: 30px;
    border-radius: 10px;
    padding: 3px 20px 0px 25px;
    margin: 0px 25px 0px 25px;
    background-color: rgb(223, 4, 4);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img{
    margin: 0px 25px 5px 25px;
}

.info{
    margin: 25px 50px 0px 0px;
    font-size: 25px;
    font-weight: bold;
}

.images p{
    font-size: 20px;
    text-align: center;
    color: cadetblue;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.results p{
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color:darkgoldenrod;
}